body{background-color: var(--mycolor09 );
    padding-top: 15px;
}

.wrapper{
    width: 1024px;
    margin: 0 auto;
}

nav{
    background-color:  var(--mycolor10);    
}

nav ul{
    display: inline-block;
}

nav ul li{
    list-style-type: none;
    float: left;
}

nav ul li a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

nav ul li a:hover{
    background-color: var(--mycolor10);
}